BasedOnStyle: Google
ColumnLimit: 150
BreakBeforeBraces: Allman 
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  BeforeLambdaBody: false
#LambdaBodyIndentation: OuterScope